{%extends "base.html"%}

{%block head1%}
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url("{{url_for('static', filename='Frame 2.png')}}");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top:20px;
    }
    button {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

</style>
{%endblock%}

{%block body%} 
    <div>
    <a href="/start_workout">
        <button style="position:relative; padding-left:270px; padding-top:250px; margin-top:500px; margin-left:100px"></button>
    </a>
    </div>
    <div>
        <a href="/start_workout">
            <button style="position:relative; padding-left:360px; padding-top:300px; margin-top:110px; margin-left:100px"></button>
        </a>
        <a href="/start_workout">
            <button style="position:relative; padding-left:360px; padding-top:300px; margin-top:110px; margin-left:20px"></button>
        </a>
        <a href="/start_workout">
            <button style="position:relative; padding-left:360px; padding-top:300px; margin-top:110px; margin-left:20px"></button>
        </a>
    </div>
    <div>
        <a href="/start_workout">
            <button style="position:relative; padding-left:360px; padding-top:300px; margin-top:20px; margin-left:100px"></button>
        </a>
        <a href="/start_workout">
            <button style="position:relative; padding-left:360px; padding-top:300px; margin-top:20px; margin-left:20px"></button>
        </a>
        <a href="/start_workout">
            <button style="position:relative; padding-left:360px; padding-top:300px; margin-top:20px; margin-left:20px"></button>
        </a>
    </div>
    <div>
        <h1 style="position:relative; color:black; padding-top:2800px">Hello</h1>
    </div>
{%endblock%} 
